#main-content > div#vibe-container > * {
  /* display: inline-block; */
  margin: 30px;
}

div#slider-container {
  width: 70%;
  float: left;
}

#submit-feeling-button {
  /* width: 30px;
  height: 30px; */

  float: right;
  background-color: lime;
  margin-top: 10px !important;
}

div#vibe-container {
  /* width: 80%; */
}
